
html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
}

.sidebar{
    flex: 0.2;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    flex: 0.8;
}

.sidebar_nav{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.header{
    height: 80px;
    background-color: lavender;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 80%;
    z-index: -10;
}

.nav_links{
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
}

.nav_links > li{
    list-style-type: none;
    margin: 0px 30px;
}

.main_content{
    height: 100%;
    display: flex;
}

.image{
    flex: 0.6;
    background-image: url('../images/keshav.jpeg');
    background-position: -250px 0px;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.content{
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}